<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368812404194-ifsnlq1vff99h4lvu892eni6pahmsmgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368812404194-ifsnlq1vff99h4lvu892eni6pahmsmgo</string>
	<key>API_KEY</key>
	<string>AIzaSyASQYZYeZetPzlzHtLdaVqTvYz3h4Ullvs</string>
	<key>GCM_SENDER_ID</key>
	<string>368812404194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bodyflow</string>
	<key>PROJECT_ID</key>
	<string>bodyflow-7f4bf</string>
	<key>STORAGE_BUCKET</key>
	<string>bodyflow-7f4bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368812404194:ios:907a58b37815ab6df61dbb</string>
</dict>
</plist>